<div class="sign_in_box">
  <h4>Sign In With Your Username and Password:</h4>
  <form name="sign_in" action="/users" method="post">
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <button class="login" id="sign_in" type="submit">Sign In</button>
  </form>
</div>
